
include setup.py MANIFEST.in README LICENSE ChangeLog
recursive-include test *.py
include mathml/*.py mathml/utils/*.py mathml/schema/*.py
include examples/infix.py

include lxml*.patch examples/ldom.py mathml/schema/mathml2.rng.gz mathml/utils/mathmlc2p.xsl mathml/utils/ctop.xsl
include mathml/pmathml/*.py mathml/pmathml/backend/*.py

include examples/dom.py
